.RegisterForm {
    margin: auto;
    background-color: white;
    padding: 200px 200px;
    border-style: hidden;
    border-radius: 10px;
    font-weight: 600;
    border-width: 1em;


}

.formHeader {
    font-weight: 500;
    font-size: 36px;
}