.primaryButton {
    color: white;
    size: 50px;
}

.listingLayout {
    margin: 100 300px;
    border-style: hidden;
    padding: 50px 50px;
    border-radius: 10px;
    font-weight: 600;
    border-width: 1em;
    width: 100%;
}

.newLayout {
    margin: 25px 425px;
    padding: 50px 50px;
    border-style: hidden;
    border-radius: 10px;
    font-weight: 600;
    border-width: 1em;
}

.listingsHeader {
    margin: 50px 300px 0px 150px;
    
    padding: 50px 50px;
    border-style: hidden;
    border-radius: 10px;
    font-weight: 600;
    border-width: 1em;
}

.jobListingsHeader {
    margin: 50px 300px 0px 250px;
    
    padding: 50px 50px;
    border-style: hidden;
    border-radius: 10px;
    font-weight: 600;
    border-width: 1em;
}

.listingTitle {
    font-size: 48px;
}

.myListingTitle {
    font-size: 48px;
    padding-bottom: 20px;
}